{% extends 'base.html' %}
{% block content %}
<h1>Gig Central Backlog</h1>
<table class='table'>
 <tr>
    <th>Story Title</th>
    <th>Priority</th>
    <th>Points</th>
    <th>Assigned Sprint</th>
    <th>Status</th>
    <th>Product Owner</th>
 </tr>
 {% for b in backlog %}
  <tr>
    <td>{{ b.storytitle }}</td>
    <td>{{ b.storypriority }}</td>
    <td>{{ b.storyeffortpoints }}</td>
    <td>{{ b.assignedsprint }}</td>
    <td>{{ b.storystatus }}</td>
    <td>{{ b.ownerproduct }}</td>
  </tr>

 {% endfor %}


</table>


{% endblock %}